
h1 {
	font-family: cursive;
	width: auto;
	text-align: center;
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: auto;
	opacity: 0.85;

}

h1:hover {
	background: white;
	opacity: 1.0;
}

body {
	margin: 0px;
	background-image: url("Photos/tightsPic.jpg");
	background-repeat: repeat;
	background-size: cover;
	background-attachment: scroll;
	top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#nav a {
	width: 300px
	color: white;
	text-decoration: none;
	color: white;
	padding: 25px;
}


#nav a:hover {
	color: black
}

#nav {
	background: black;
	color: white;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 25px;
	font-family: 'Chalkduster';
	opacity: 0.8;


}

#navOne {
	padding-bottom: 15px;
}

#navTwo {
	padding-top: 15px;
}

#content {
	float: right;
	clear: both;
	overflow: 0 auto;
	margin-top: 50px; 
	margin-bottom: 100px;
}

.box {
	background-color: white;
	opacity: 0.8;
	padding: 3px 0px 10px 10px;
	margin: 20px;
	font-family: 'Chalkduster';
	border-radius: 20px;
	border-style: solid;
	border-color: black;
	border-width: 0.5px;
}

.box h3 {
	font-size: 20px;
	padding-bottom: 0px;
}


.box button {
	border-radius: 20px;
	padding: 5px;
	float: right;
	clear: both;
	border-style: solid;
	border-color: black;
	border-width: 1.5px;
}

.box button:hover {
	background: black;
}

.box button a {
	text-decoration: none;
	color: black;
	font-family: 'Chalkduster';
	font-size: 15px;

}

#content {
	padding-bottom: 300px;
}

#content .box p {
	font-family: 'Century Gothic';
	font-size: 15px;
}
#footer {
	clear: both;
	margin: 0 auto;
	background: black;
	opacity: 0.8;
	padding-top: 15px;
	padding-bottom: 5px;
}

#footer a {
	padding: 10px;
}

#footer p {
	color: white;
	font-family: 'Chalkduster';
	font-size: 10px;
	padding-left: 10px;
}

#footer p a {
	text-decoration: none;
	color: white;
	font-family: 'Chalkduster';
	font-size: 10px;
}

#footer p a:hover {
	color: black;
}

