/*Body*/

body {
	margin: 0px;
	background-attachment: scroll;
	font-family: 'Century Gothic';
	width: 100%;
}


/*Main Nav*/


.nav a {
	width: 300px;
	color: white;
	background: black;
	text-decoration: none;
	padding-left: 35px;
	padding-right: 35px;
}

.nav a:hover {
	color: black;
}

.nav {
	background: black;
	color: white;
	padding-bottom: 15px;
	font-size: 35px;
	margin: 0 auto;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;
}

.navOne {
	background: black;
	padding: 20px;
	width: 100%;
}

@media (max-width: 800px) {
	.grid {
		text-align: center;
	}
}

@media (max-width: 420px) {
	#wrapper {
		font-size: 20px;
	}
	.navOne {
		padding: 5px;
		font-size: 20px;
	}
	.nav {
		padding: 0px;
	}
	.about {
		display: none;
	}

}

/*photo banner*/
#scroller {
        position: relative;
    }
#scroller .innerScrollArea {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
#scroller ul {
        padding: 0;
        margin: 0;
        position: relative;
    }
#scroller li {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
    }

.banner {
	background: black;
	padding-top: 164px;
}
/*About*/

.about {
	text-align: center;
	width: 100%;
}

.about h3 {
 	font-size: 35px;
	text-align: center;
	width: 100%;
	background: white;
	color: black;
	padding-top: 75px;
}

.about ul li {
	font-size: 20px;
}

.carousel {
	margin: 0px;
	text-align: center;
}
.slide {
	padding-right: 400px;
	padding-left: 400px;
	text-align: center;
}
 
/*gallery*/

.gallery {
	width: 100%
}

.gallery h3 {
	font-size: 35px;
	text-align: center;
	width: 100%;
	background: white;
	color: black;
	padding-top: 75px;
}

.grid {
	margin-left: 15px;
}
.grid-item { 
	width: 625px;
	height: 450px;
	position: absolute;
	float: left;
	clear: right;
	 }

/*how to order*/

.order {
	background: white;
	width: 100%;
}
.order h2 {
	font-size: 35px;
	text-align: center;
	width: 100%;
	background: white;
	color: black;
	padding-top: 70px;

}

#form {
	font-size: 25px;
	width: 100%;
}

#submitOrder h4 {
	padding-left: 150px;
	font-size: 25px;
}


.order button {
	padding: 5px 10px;
	background-color: black;
	color: black;
	font-size: 15px;
}

.order button:hover {
	opacity: .1;
}

#spandex {
	font-size: 25px;
	text-decoration: none;
	color: black;
}

#spandex:hover {
	color: red;
}

form {
	padding-left: 200px;
	font-size: 25px;
	padding-bottom: 100px;
	width: 100%;
}

.order h3, .order #submitOrder a {
	padding-left: 150px;
	font-size: 15px;
}


input[type="text"] {
  margin-left: 25px;
  padding: 20px;
  border: .5px;
  color: gray;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  font-size: 25px;
}

input[type='text']:hover {
	color: black;
}

input[type='radio'] {
	padding: 20x;
	margin-top: 25px;
	margin-left: 15px;
}

#button {
	font-size: 35px;
	background: black;
	color: white;
	text-decoration: none;
	border-radius: 0px;
	cursor: pointer;
	border: none;
	margin: 20px;
}

#button:hover{
	opacity: 0.3;
}

/*footer*/

#footer {
	clear: both;
	margin: 0 auto;
	background: black;
	padding: 10px;
	position: bottom;
	width: 100%;
}

#footer a {
	padding: 10px;
}

#footer p {
	color: white;
	font-size: 10px;
	padding-left: 10px;
}

#footer p a {
	text-decoration: none;
	color: white;
	font-size: 10px;
}

#footer .footer a:hover {
	opacity: .0;
}

