
/*logo header*/

/*.header {*/
	/*top: 0;*/
	/*width: 100%;*/
/*}*/

h1 {
	font-family: cursive;
	width: 100%;
	text-align: center;
	background-color: white;
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: auto;
}


h1:hover {
	background: white;
	opacity: 1.0;
}

body {
	margin: 0px;
	background-attachment: scroll;
	font-family: 'Century Gothic';
}


/*Main Nav*/

.nav a {
	width: 300px;
	color: white;
	text-decoration: none;
	color: white;
	padding: 25px;
}


.nav a:hover {
	color: black
}

.nav {
	background: black;
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 25px;
	font-family: 'Chalkduster';
	margin: 0 auto;
	width: 100%;
	position: fixed;
	top: 0;
	padding: 25px;
	z-index: 1000;

}

#navOne {
	padding: 10px;
}



/*photo banner*/

 #scroller {
        position: relative;
    }
    #scroller .innerScrollArea {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    #scroller ul {
        padding: 0;
        margin: 0;
        position: relative;
    }
    #scroller li {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
    }

.banner {
	background: black;
}
/*About*/

.about {
	text-align: center;
}

.about h3 {
 	font-size: 25px;
	text-align: center;
	font-family: 'Chalkduster';
	width: 100%;
	background: white;
	color: black;
	padding: 15px 0px;
}

.carousel .slide {
	width: 50%;
	padding-right: 200px;
	padding-left: 200px;
	text-align: center;
}

/*gallery*/

.gallery {
	background: black;
}

.gallery h3 {
	font-size: 25px;
	text-align: center;
	font-family: 'Chalkduster';
	width: 100%;
	background: white;
	color: black;
	padding: 15px 0px;
}

.grid {
	margin-left: 15px;
}
.grid-item { 
	width: 625px;
	height: 450px;
	position: absolute;
	float: left;
	clear: right;
	 }

/*how to order*/

.order {
	background: white;
	font-family: 'Century Gothic'
}
.order h2 {
	font-size: 25px;
	text-align: center;
	font-family: 'Chalkduster';
	width: 100%;
	background: white;
	color: black;
}

.order h4 {
	padding-left: 150px;
}

.order .form {
	text-align: left;
	padding-left: 150px;
	margin-right: 0px;
}

.order button {
	padding: 5px 10px;
	font-family: 'Chalkduster'
	background-color: black;
	color: black;
	font-size: 15px;
}

.order button:hover {
	opacity: .1;
}

/*.order a {
	float: right;
	clear: auto;

}*/

form {
	padding-left: 150px;
	font-size: 15px;
}

.order h3, .order #submitOrder a {
	font-family: "Century Gothic";
	padding-left: 150px;
	font-size: 15px;
}

#submitOrder {

}

/*footer*/

#footer {
	clear: both;
	margin: 0 auto;
	background: black;
	padding: 10px;
	position: bottom;
	width: 100%;
	font-family: 'Century Gothic';

}

#footer a {
	padding: 10px;
}

#footer p {
	color: white;
	font-size: 10px;
	padding-left: 10px;
}

#footer p a {
	text-decoration: none;
	color: white;
	font-size: 10px;
}

#footer .footer a:hover {
	opacity: .0;
}

